<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Hack4Privreda 2021</div>
            <img class='footer-logo' src='assets/img/logo-hack.png'>
            <div><a href="#">Privacy Policy &middot;</a><a href="#">Terms &amp; Conditions</a></div>
        </div>
    </div>

<img class='red-logo-background' src='assets/img/red-transparent.png'>
</footer>
