<sb-layout-dashboard>
    <div class='row l-card'>
        <div class='col-md-6'>
            <img class='l-card-img' src='assets/img/kartica.png'>
        </div>
        <div class='col-md-6'></div>
        <img class='navigation-bacground-img' src='assets/img/wave.png'>

    </div>
    <div class='row'>

    </div>

    <sb-card class='custom-table'>div>
        <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Lista transakcija</div>
        <div class="card-body"><form>
            <div class="form-group form-inline">Pretraživanje teksta: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" sbSortable="id" (sort)="onSort($event)"><span>Broj transakcije</span><sb-sort-icon *ngIf='sortedColumn === "id"' [direction]="sortedDirection"></sb-sort-icon></th>
                    <th scope="col" sbSortable="amount" (sort)="onSort($event)"><span>Količina</span><sb-sort-icon *ngIf='sortedColumn === "amount"' [direction]="sortedDirection"></sb-sort-icon></th>
                    <th scope="col" sbSortable="date" (sort)="onSort($event)"><span>Datum</span><sb-sort-icon *ngIf='sortedColumn === "date"' [direction]="sortedDirection"></sb-sort-icon></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let country of countries$ | async">
                    <th scope="row">{{ country.id }}</th>
                    <td><ngb-highlight [result]="country.amount | number" [term]="countryService.searchTerm"></ngb-highlight></td>
                    <td><ngb-highlight [result]="country.date | date" [term]="countryService.searchTerm"></ngb-highlight></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page" [pageSize]="countryService.pageSize"></ngb-pagination
                ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="countryService.pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
            </select>
            </div>
        </form></div>
    </sb-card>



    <div class="row custom-charts">
        <div class="col-xl-6">
            <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Potrošeni tokeni</div>
                <div class="card-body"><canvas #myAreaChart></canvas></div
                ></sb-card>
        </div>
        <div class="col-xl-6">
            <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Potrošeni tokeni (mjesečni nivo)</div>
                <div class="card-body"><canvas #myBarChart></canvas></div
                ></sb-card>
        </div>
    </div>

    <div class="row custom-pie-chart">
        <div class="col-lg-12">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-pie"]'></fa-icon>Potrošnja tokena po kategorijama </div>
                <div class="card-body"><sb-charts-pie></sb-charts-pie></div>
            </sb-card>
        </div>
    </div>
</sb-layout-dashboard>
