<div class="row">


    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard"  background="bg-primary">
            <div class="card-body custom-card custom-card-1">
                <h5> Broj tokena:</h5>
                <h2> 3000</h2>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard"  background="bg-primary">
            <div class="card-body custom-card custom-card-2">
                <h5> Vrijednos tokena:</h5>
                <h2> 20K</h2>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard"  background="bg-primary">
            <div class="card-body custom-card custom-card-3">
                <h5> Zadnji priliv tokena:</h5>
                <h2> 20</h2>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard"  background="bg-primary">
            <div class="card-body custom-card custom-card-4">
                <h5> Ukupno potrošeno tokena:</h5>
                <h2> 2000</h2>
            </div>
        </sb-card-view-details>
    </div>
    <img class='navigation-bacground-img' src='assets/img/wave.png'>
</div>
